* {
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  padding: 10px;
  margin: 8px;
  background-color: #F391A0;
}

div {
  display: flex;
}

.huge-div {
  flex-direction: column;
}

.news-title {
  font-size: 60px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.lower-two {
  width: 75%;
}

.lower-one {
  width: 25%;
}

.upper-div {
  justify-content: space-around;
  width: 100%;
}

.lower-div {
  justify-content: space-around;
  width: 100%;
}

article {
  border: 1px black solid;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
}

.options {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.link-text:hover {
  text-decoration: underline;
}

.link-text {
  text-decoration: none;
  color: #666;
  padding-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.img-fam {
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.img {
  display: flex;
  justify-content: center;
}

header {
  display: block;
}

h1 {
  text-align: center;
}

.upper-one {
  width: 25%;
}

.upper-two {
  width: 50%;
}

.upper-three {
  width: 25%;
}

.opt-one {
  background-color: #ffeaa7;
}

.opt-two {
  background-color: #81ecec;
}
.opt-three {
  background-color: #55efc4;
}
.opt-four {
  background-color: #74b9ff;
}
.opt-five {
  background-color: #a29bfe;
}

.text {
  margin: 10px;
}